{% extends "index.html" %}

{% block content %}
  <div class="container">
    <h2>Employee Leave List</h2>
    <table class="table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Annual Leave Taken</th>
          <th>Annual Leave Balance</th>
          <th>Monthly Leave Taken</th>
          <th>Monthly Leave Balance</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for data in leave_data %}
          <tr>
            <td>{{ data.employee.first_name }}</td>
            <td>{{ data.employee.last_name }}</td>
            <td>{{ data.annual_leave_taken }}</td>
            <td>{{ data.annual_leave_balance }}</td>
            <td>{{ data.monthly_leave_taken }}</td>
            <td>{{ data.monthly_leave_balance }}</td>
            <td>
              <a href="{% url 'add_leave' data.employee.id %}" class="btn btn-add">Add Leave</a>
              <a href="{% url 'employee_salary_details' data.employee.id %}" class="btn btn-edit">Salary Details</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

