{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HR Management System</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar">
            <h2 class="navbar-title">HR MANAGEMENT</h2>
        <div class="navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="{% url 'employee_list' %}" class="nav-item">Employees</a>
                <a href="{% url 'employee_leave_list' %}" class="nav-item">Leave</a>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
